<%- include("../partials/header") %>

<div class="container">

	<h2 class="text-center" style="margin:75px auto 0px auto;">Edit</h2>

	<div class="row">		
		<div style="width:50%; margin:25px auto;">
			<form action="/divingsites/<%= scubaspot_id %>/localguides/<%= guide._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="guide[msg]" value="<%=guide.msg%>">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/divingsites/<%= scubaspot_id %>/localguides">Back</a>
		</div>
	</div>
	
</div>

<%- include("../partials/footer") %>