<%- include("../partials/header") %>
<%- include("set_country") %>


<div class="container">

	<h2 class="text-center" style="margin:75px auto 0px auto;">Add a New Diving Spot</h2>

	<div class="row">		
		<div style="width:50%; margin:25px auto;">
			<form action="/divingsites" method="POST">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" type="text" name="name" placeholder="name" required>
				</div>
				<div class="form-group">
					<label>Image Url</label>
					<input class="form-control" type="text" name="img" placeholder="image url" required>
				</div>
				<div class="form-group">
                    <label>Region</label>
                    <select id="region" name="region" size="1" class="form-control" required>
						<option value="" selected="selected">SELECT REGION</option>
						<option value=""></option>
						<% var regions = setRegions(this); %>
						<% regions.forEach(function (item, index) {%>
							<option value="<%=item%>"> <%=item%> </option>
						<%});%>
						
					</select>
                </div>
				<!-- TODO: Dynamic selection option of corresponding region and nations-->
				<div class="form-group">
					<label>Country</label>
					<select id="nation"  name="nation" class="form-control" required>
						<option value="" selected="selected">SELECT COUNTRY</option>
						<option value=""></option>
						<% var nations = allNations(this); %>
						<% nations.forEach(function (item, index) {%>
							<option value="<%=item%>"> <%=item%> </option>
						<%});%>
					</select>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input class="form-control" type="text" name="location" id="location" placeholder="location">
				</div>
				<div class="form-group">
					<label>Description</label>
					<input class="form-control" type="text" name="desc" placeholder="description" required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit!">
				</div>
			</form>
			<a href="/divingsites">Back</a> 
		</div>
	</div>
	
</div>



<%- include("../partials/footer") %>