<%- include("../partials/header") %>

<div class="container">
	<div class="row" style="margin-top:10px;">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item active"><a style="color:white;" href="/divingsites/<%= scubaspot._id%>/">About</a></li>
				<li class="list-group-item"><a style="color:black;" href="/divingsites/<%= scubaspot._id%>/localguides">Local Guides</a></li>
				<li class="list-group-item"><a style="color:black;" href="/divingsites/<%= scubaspot._id%>/recentnews">Recent News</a></li>
<!-- 		8af4363721b9402ba4288b068bb6b365		 -->
			</div>
			<div id="mapLocation" style="width:100%;height:400px;overflow:visible;"></div>
			
		</div>
		<!-- map -->
		<div class="col-md-9">
			<div class="img-thumbnail">
				<img class="img-responsive" width=100% src="<%= scubaspot.img %>">
			</div>
			<div class="caption">
				<% if (scubaspot.rating == 0) {%>
					<p class="float-right" style="color:grey; margin-top:8px;"> <em>No ratings yet!</em></p>
				<% } else {%>
					<p class="starability-result float-right" data-rating="<%= scubaspot.rating %>" style="margin-top:8px;"></p>
				<% } %>
				<h2><a><%= scubaspot.name %></a></h2>
				
			
				
				
				<h6><a><%= scubaspot.nation %> - <%= scubaspot.region %></a></h6>
				<p><%= scubaspot.desc %></p>
				<div>
					<em>Submitted By <%= scubaspot.author.username %>, <%= scubaspot.createdAt %></em>
				</div>
				<div class="row mx-auto" style="margin-bottom:10px;margin-top:10px">
					<% if (currentUser && scubaspot.author.id.equals(currentUser._id)){ %>
					<a class="btn btn-warning" href="/divingsites/<%= scubaspot._id%>/edit">Edit</a>
					<form action="/divingsites/<%=scubaspot._id%>?_method=DELETE" class="delete-form" method="POST">
						<button class="btn btn-danger" style="margin-left:10px;">Delete</button>
					</form>
				<% } %>
				</div>
			</div>
			
				<% if (scubaspot.ratings.length == 0) {%>
						<div class="" style="display: flex;flex-direction: column;align-items: flex-end;">
							<form action="/divingsites/<%= scubaspot._id %>/ratings" method="POST" style="display: flex;align-items: center;padding:10px;" >
								<fieldset class="starability-basic" id="rating">
									<input type="radio" id="first-rate5" name="rating[rating]" value="5" />
									<label for="first-rate5" title="Amazing">5 stars</label>
									<input type="radio" id="first-rate4" name="rating[rating]" value="4" />
									<label for="first-rate4" title="Very good">4 stars</label>
									<input type="radio" id="first-rate3" name="rating[rating]" value="3" />
									<label for="first-rate3" title="Average">3 stars</label>
									<input type="radio" id="first-rate2" name="rating[rating]" value="2" />
									<label for="first-rate2" title="Not good">2 stars</label>
									<input type="radio" id="first-rate1" name="rating[rating]" value="1" />
									<label for="first-rate1" title="Terrible">1 star</label>
								</fieldset>
								<div style="margin-left:20px;">
									<button class="btn btn-md btn-light">Submit a Rating</button>
								</div>
							</form>
						</div>
					<% } %>
					<% scubaspot.ratings.forEach(function(rating){ %>
						<% if (currentUser && rating.author.id.equals(currentUser._id)){ %>
							<div class="" style="display: flex;flex-direction: column;align-items: flex-end;">
								<form action="/divingsites/<%= scubaspot._id %>/ratings/<%= rating._id %>?_method=put" method="post" style="display: flex;align-items: center;padding:10px;" >
									<fieldset class="starability-basic form-group" id="rating">
										<input type="radio" id="first-rate5" name="rating[rating]" value="5" />
										<label for="first-rate5" title="Amazing">5 stars</label>
										<input type="radio" id="first-rate4" name="rating[rating]" value="4" />
										<label for="first-rate4" title="Very good">4 stars</label>
										<input type="radio" id="first-rate3" name="rating[rating]" value="3" />
										<label for="first-rate3" title="Average">3 stars</label>
										<input type="radio" id="first-rate2" name="rating[rating]" value="2" />
										<label for="first-rate2" title="Not good">2 stars</label>
										<input type="radio" id="first-rate1" name="rating[rating]" value="1" />
										<label for="first-rate1" title="Terrible">1 star</label>
									</fieldset>
									<div style="margin-left:20px;">
										<button class="btn btn-md btn-light">Update My Rating</button>
									</div>
								</form>
							</div>
						<% } else {%>
							<div class="" style="display: flex;flex-direction: column;align-items: flex-end;">
								<form action="/divingsites/<%= scubaspot._id %>/ratings" method="POST" style="display: flex;align-items: center;padding:10px;" >
									<fieldset class="starability-basic" id="rating">
										<input type="radio" id="first-rate5" name="rating[rating]" value="5" />
										<label for="first-rate5" title="Amazing">5 stars</label>
										<input type="radio" id="first-rate4" name="rating[rating]" value="4" />
										<label for="first-rate4" title="Very good">4 stars</label>
										<input type="radio" id="first-rate3" name="rating[rating]" value="3" />
										<label for="first-rate3" title="Average">3 stars</label>
										<input type="radio" id="first-rate2" name="rating[rating]" value="2" />
										<label for="first-rate2" title="Not good">2 stars</label>
										<input type="radio" id="first-rate1" name="rating[rating]" value="1" />
										<label for="first-rate1" title="Terrible">1 star</label>
									</fieldset>
									<div style="margin-left:20px;">
										<button class="btn btn-md btn-light">Submit a Rating</button>
									</div>
								</form>
							</div>
						<% } %>
					<% }); %>
			
			<div class="card" style="background:#ECECEC;">
				
				<div class="" style="display: flex;align-items: center;justify-content: center;padding:10px;">
					<div class="text-right" style="width:100%">
						<a class="btn btn-success" href="/divingsites/<%=scubaspot._id%>/comments/new">Leave a Review</a>
					</div>
				</div>
				
				<hr style="padding:0; margin:0 0;">
				<% scubaspot.comments.forEach(function(comment){ %>
					<div class="col-md-12" style="padding:10px;">
						<div>
							<strong><%= comment.author.username %></strong>
							<span class="float-right"><%= comment.createdAt %></span>
						</div>
						<div style="margin-block-end:0px;"><%= comment.text %>
						<div class="row mx-auto">
							<% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
								<a class="btn btn-warning" href="/divingsites/<%= scubaspot._id%>/comments/<%=comment._id %>/edit">Edit</a>
								<form class="delete-form" action="/divingsites/<%=scubaspot._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" style="margin-left:10px;">
									<button class="btn btn-danger">Delete</button>
								</form>
							<% } %>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>


<script>
	function myMap() {
		var mapProp= {center:new google.maps.LatLng(<%=scubaspot.lat%>,<%=scubaspot.lng%>), zoom:10};
		var map = new google.maps.Map(document.getElementById("mapLocation"),mapProp);
		var marker = new google.maps.Marker({position: {lat: <%=scubaspot.lat%>, lng: <%=scubaspot.lng%>}, map: map});
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYx6Wc3m4GzXeu6DSD0c_SFQEG-86nNyg&callback=myMap"></script>




<%- include("../partials/footer") %>